<a href="https://colab.research.google.com/github/rukminit28/Intrenship/blob/master/pandas%20basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1]

0.5

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [12]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
index=[1, 2, 'c', 'd'])
data

1    0.25
2    0.50
c    0.75
d    1.00
dtype: float64

In [14]:
data['c']

0.75

In [16]:
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [17]:
population['California']

38332521

In [19]:
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [20]:
data = [{'a': i, 'b': 2 * i}
 for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [23]:
 pd.DataFrame([{'a': 1,  'b': 2}, { 'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [28]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [29]:
ind[1]

3

In [30]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [31]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [32]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
indA & indB                                           # intersection

Int64Index([3, 5, 7], dtype='int64')

In [33]:
indA | indB                                                  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [34]:
indA ^ indB                       # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

In [41]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
index=['a', 'b', 'c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [42]:
data['a':'c']                                                 # slicing by explicit index

a    0.25
b    0.50
c    0.75
dtype: float64

In [43]:
data[0:2]                                                   # slicing by implicit integer index

a    0.25
b    0.50
dtype: float64

In [44]:
data[(data > 0.3) & (data < 0.8)]                            #masking indexing

b    0.50
c    0.75
dtype: float64

In [45]:
data[['a', 'e']]                                        #fancy indexing

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:951: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

a    0.25
e     NaN
dtype: float64